$bg-body: #EDE8E3;

$white: #F4F3F6;

$btn-active: #31CD63;
$btn-passive: #747475;

$green: #31CD63;

$blue: #191D63;

$text-black: #060710;
$text-black-dark: #000000;

$border-radius: 10px;
$transition: .3s;